<div class="egreso">
    <h2 class="egreso_titulo">Gastos</h2>

    <div *ngFor="let expense of expenses" class="elemento limpiarEstilos">
        <div class="elemento_descripcion">{{expense.description}}</div>
        <div class="right limpiarEstilos">
            <div class="elemento_valor">- {{expense.value | currency:'EUR': '€': '1.0-2'}}</div>
            <div class="elemento_porcentaje">{{calculatePercentage(expense) | percent}}</div>
            <div class="elemento_eliminar">
                <button class="elemento_eliminar--btn">
                    <i class="btn btn-danger btn-sm" (click)="deleteRegister(expense)">x</i>
                </button>
            </div>
        </div>
    </div>
</div>