// fonts
$mainFont: 'Cabinet Grotesk', sans-serif;;
$titleFont: 'Bonny', serif;
$headerLink:'Clash Display', sans-serif;

// colors
$background : #dbf6ed;
$fontColor: #09241b;
$bgHeader : #96bdafb4;
$bgFooter : #b8b1a3;
$bgTextFooter: #eee6d3;