@import "../../variables.scss";

footer{
    background-color: $bgTextFooter;
    width: 100%;
    position: relative;
}
.copyright{
    background-color: $bgFooter;
}
.texto-footer{
    font-size: 15px;
}