<nav class="navbar navbar-expand-sm navbar-light fixed-top" [class.hidden]="isHeaderHidden">
  <div class="container">
    <div class="title">
      <a class="nav-link active" [routerLink]="['']" aria-current="page">{{ title }}</a>
    </div>
      <!-- links a inicio y a la grafica completa -->
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/cartera']" aria-current="page">$$$</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/graficas']">Gráficas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/perfiles']">Perfiles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/graficas']">Recursos</a>
        </li>
      </ul>
    </div>
</nav>
